

*{
    margin: 0;
    padding: 0;
}


.container{
    max-width: 1200px;
    margin: auto;
}


header{
    background:  url(../image/photo_2022-03-16_19-18-33.jpg) center/cover;
    height: 700px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 40px;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}


.message{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}


h1{
    text-align: center;
    margin-top: 150px;
    color: white;
    font-size: 40px;
}


.call{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    color: white;
    background: black;
    text-decoration: none;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}


.abou{
    margin-top: 70px;

}


.abou h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}


.abou p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}



.abou a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    color: white;
    background: black;
    text-decoration: none;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}



.works{
    margin-top: 50px;
}



.works h2{
text-align: center;
margin-bottom: 30px;
font-size: 40px;
}



.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}



.item{
    border: 2px black solid;
    width:100%;
    max-width: 350px;
    margin-bottom: 30px;
    padding:15px 5px;
}
 


.item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}



.item h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}



.item p{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}



.item a{
    width: 190px;
    height: 50px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background: black;
    text-decoration: none;
    margin: auto;
    border-radius: 6px;
}


footer{
    background: black;
    padding: 30px;
    text-align: center;
}

footer a{
    margin-left: 10px;
    margin-right: 10px;
}






